{{>menu}}
<br>
<h2>Registro de usuario :</h2>
<hr>
<br> 
{{#if error}}
<div class=error>
    {{errorDetail}}
</div>
{{/if}}

<form action="/api/sesions/registro" method="post"> 

<input type="text" name="name" placeholder="nombre" autocomplete="off">
<input type="text" name="last_name" placeholder="apellido" autocomplete="off">
<input type="number" name="age" placeholder="edad" autocomplete="off"> 
<input type="email" name="email" placeholder="email" autocomplete="off">
<input type="password" id="password" name="password" placeholder="Nueva contraseña" autocomplete="off">

<input type="submit" value="Registrar" >
</form>
